.stars {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5px;

  span {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
  }
}

.icon {
  width: 18px;
  height: 18px;
  margin: 2px;

  &-star {
    fill: #efce4a;
  }

  &-star:hover {
    fill: blue;
  }
}

.star-ratings {
  display: flex;
}

.star-container {
  svg {
    width: 18px;
    height: 18px;
    margin: 2px;
  }
}