.books {
  //max-width: 1100px;
  min-width: 320px;
  margin: 0 10%;
}

.book {
  display: flex;
  flex-direction: row;
  background: #f1f1f1;
  margin: 15px 0;

  cursor: pointer;

  a {
    color: #333333;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
  }

  p {
    color: #adafb2;
    font-size: 16px;
  }

  &--readed {
    background: #ed1b2f;
  }

  &:hover {
    box-shadow: 0 5px 12px 0 #909090;
  }
}

.book__img {
  margin-top: 5px;
  margin-left: 5px;
}

.book__desc {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 10px;
  margin-right: 30px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }
}

.book__title {
  margin: 10px 0;
}

.book__rate {
  align-self: center;
  margin-left: auto;
  margin-right: 25px;
}