.cards__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 0 auto;
  margin-top: 20px;
}

.item-description {
  margin: 0;
  text-align: center;
  padding-top: 15px;
}
