.search {
  min-width: 260px;
  display: flex;

}

.search__input {
  width: 260px;

  padding: 5px;
}

.filter__rate {
  margin-right: 35px;
  p {
  margin: 0;
    padding-right: 45px;
}

}

.btn__search {
  width: 65px;
}

.input__rate {
  width: 60px;
  &:nth-child(2) {
    margin-right: 10px;
  }
}

.search__filter {
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 320px;

  li {
    list-style: none;
  }
}

.list__item {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;

  &:hover {
    background: rgba(212, 38, 67, 0.32);
  }
}

.list__item--active {

  border: 1px solid #ff6547;
}